<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.coosincustomer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SleepSplashScreen"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CanceledActivity" />
        <activity android:name=".CancelOrderActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".DetailOrderActivity" />
        <activity
            android:name=".ConfirmNauAnActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".OrderNauAnActivity" />
        <activity android:name=".MoMoActivity" />
        <activity android:name=".ConfirmTongVeSinhActivity" />
        <activity android:name=".OrderTongVeSinhActivity" />
        <activity android:name=".ConfirmDinhKyActivity" />
        <activity android:name=".OrderDinhKyGoiActivity" />
        <activity android:name=".OTPActivity" />
        <activity
            android:name=".LoginPhoneActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AccountUpdateInfoActivity" />
        <activity android:name=".AccountEditInfoActivity" />
        <activity android:name=".AccountInfoActivity" />
        <activity android:name=".OrderDinhKyActivity" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OrderSuccessActivity" />
        <activity android:name=".ThanhtoanActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity
            android:name=".OrderDungLeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/ApiKey" />
    </application>

    <dist:module dist:instant="true" />

</manifest>